/* Classier Paragraphs */
.field--widget-entity-reference-paragraphs .field--widget-classier-paragraphs-form {
  margin: 0;
  float:left;
  clear: both;
  width: 100%;
}

.field--widget-entity-reference-paragraphs .field--widget-classier-paragraphs-form fieldset.form-wrapper {
  box-sizing: border-box;
  float: left;
  min-width: 49%;
  margin-bottom: .75em;
  padding-right: 3em;
}

.details-wrapper {
  display: grid;
}

.field--widget-entity-reference-paragraphs .field--widget-classier-paragraphs-form fieldset.form-wrapper:last-of-type {
 //float: none;
 //clear: right;
}
